In [ ]:
# EXCLUDE
print("not seen")

# Test Assignment

```
Name: Anas
Class: ABC-007
```

In [ ]:
import pandas as pd

print("hello world")

df = pd.DataFrame({
    "A": [1, 2, 3, 4],
    "B": ["ABC", "DEF", "GHI", "JKL"]
})

df.head()

hello world

   A    B
0  1  ABC
1  2  DEF
2  3  GHI
3  4  JKL

[INSIGHT] Lorem ipsum dolor sit amet